<section class="todo">
  <nav>
    <ul class="todo__item">
      <li class="todo__list">
        <article class="todo__card card todo__card--orange">
          <div class="card__head">
            <p class="todo__info">{{ TaskStatus.Idea }}</p>
            <span class="todo__count">{{ ideaCount }}</span>
          </div>
        </article>
        <app-task></app-task>
      </li>
      <li class="todo__list">
        <article class="todo__card card todo__card--red">
          <div class="card__head">
            <p class="todo__info">{{ TaskStatus.ToDo }}</p>
            <span class="todo__count">{{ toDoCount }}</span>
          </div>
        </article>
        <app-task></app-task>
      </li>
      <li class="todo__list">
        <article class="todo__card card todo__card--blue">
          <div class="card__head">
            <p class="todo__info">{{ TaskStatus.InProgress }}</p>
            <span class="todo__count">{{ inProgressCount }}</span>
          </div>
        </article>
        <app-task></app-task>
      </li>
      <li class="todo__list">
        <article class="todo__card card todo__card--green">
          <div class="card__head">
            <p class="todo__info">{{ TaskStatus.Done }}</p>
            <span class="todo__count">{{ doneCount }}</span>
          </div>
        </article>
        <app-task></app-task>
      </li>
    </ul>
  </nav>
</section>
