.todo__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.todo__card--orange {
  background-color: rgb(235, 144, 110);
}
.todo__card--red {
  background-color: rgb(163, 102, 102);
}
.todo__card--blue {
  background-color: rgb(144, 181, 211);
}
.todo__card--green {
  background-color: rgb(102, 240, 97);
}
.card__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.todo__info {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.todo__count {
  color: #fff;
}
.app-task {
  display: block;
  block-size: 100%;
}
