<section class="todo">
  <nav>
    <ul class="todo__item">
      <li class="todo__list">
        <article class="todo__card card">
          <div class="card__head todo__card--orange">
            <p class="todo__info">Idea</p>
            <span class="todo__count">0</span>
          </div>
          <app-task></app-task>
        </article>
      </li>
      <li class="todo__list">
        <article class="todo__card card">
          <div class="card__head todo__card--red">
            <p class="todo__info">To do</p>
            <span class="todo__count">0</span>
          </div>
          <app-task></app-task>
        </article>
      </li>
      <li class="todo__list">
        <article class="todo__card card">
          <div class="card__head todo__card--blue">
            <p class="todo__info">In process</p>
            <span class="todo__count">0</span>
          </div>
          <app-task></app-task>
        </article>
      </li>
      <li class="todo__list">
        <article class="todo__card card">
          <div class="card__head todo__card--green">
            <p class="todo__info">Done</p>
            <span class="todo__count">0</span>
          </div>
          <app-task></app-task>
        </article>
      </li>
    </ul>
  </nav>
</section>
