.task {
  /* border: 1px solid #ccc; */
  padding: 10px;
  overflow: hidden;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.task__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  inline-size: 100%;
}
.task__item {
  inline-size: 100%;
}
.task__card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
}

.task__title {
  font-size: 18px;
  font-weight: bold;
}
.task__btns {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}
.task__description {
  max-inline-size: 250px;
  margin-block-start: 20px;
  margin-block-end: 20px;
}

.task__edit {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.task__delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.task__img {
  inline-size: 15px;
  block-size: 15px;
}

.task__edit-form {
  margin-top: 20px;
}

#edit__decription {
  width: 90%;
  height: 200px;
  resize: none;
  border: 3px solid black;
}
