<div class="card__task task">
  <ul class="task__list">
    <li class="task__item">
      <article class="task__card">
        <span class="task__title">{{ task?.taskNumber }}</span>
        <time datetime="">{{ task?.deadline | date }}</time>
        <div class="task__description">
          <p class="task__decription-text">{{ task?.description }}</p>
        </div>
        <div class="task__btns">
          <button class="task__edit">
            <img
              src="../../../assets/images-svg/edit.svg"
              alt="Иконка редактирования"
              class="task__img"
            />
          </button>
          <button class="task__delete">
            <img
              src="../../../assets/images-svg/basket.svg"
              alt="Иконка удаления"
              class="task__img"
            />
          </button>
        </div>
      </article>
      <app-formapp (saveTask)="saveTask.emit($event)"></app-formapp>
    </li>
  </ul>
</div>
